@charset "utf-8";

header .head{
	width: 100%;
	max-width: 1920px;
	height: 100px;
	border-bottom: 2px solid #7ec08a;
	overflow: hidden;
	margin: 0 auto;
}
header .head .pic{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}
header .head .pic img:first-child{
	width: 166px;
	height: 70px;
	margin-top: 15px;
}
header .head .pic img:last-child{
	width: 204px;
	height: 46px;
	margin-bottom: 10px;
	margin-left: 27px;
}
section{
	width: 100%;
	max-width: 1920px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background: #fbfbfb;
}
section .top{
	width: 1000px;
	height: 64px;
	margin: 0 auto;
}
section .top img{
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 24px; 
}
section .top h2{
	font-size: 16px;
	color: #000;
	float: left;
	margin-top: 24px; 
	margin-left: 10px;
}
section .top p{
	font-size: 14px;
	color: #848485;
	float: right;
	margin-top: 24px; 
}
section .myform{
	width: 1000px;
	height: 550px;
	margin: 0 auto;
	border: 1px solid #ccc;
	position: relative;
}
section .myform .tit{
	width: 100%;
	height: 108px;
	background: url(../images/back1.jpg);
}
section .myform .tit p{
	font-size: 14px;
	color: #848485;
	float: left;
	margin-top: 13px;
}
section .myform .tit p:first-child{
	margin-left: 33px;
}
section .myform .tit p:nth-child(2){
	margin-left: 305px;
}
section .myform .tit p:nth-child(3){
	margin-left: 342px;
}
section .myform .tit img{
	float: left;
	margin-top: 14px;
}
section .myform .tit img:nth-child(4){
	margin-left: 58px;
}
section .myform .error{
	width: 193px;
	height: 25px;
	background: #fff6cf;
	color: #ff9342;
	border: 1px solid #ff9342;
	position: absolute;
	left: 380px;
	display: none;
}
section .myform .error img{
	float: left;
	margin: 7px 0 0 5px;
}
section .myform .error p{
	float: left;
	margin: 7px 0 0 5px;
}
section .myform #phoneError{
	top: 118px;
}
section .myform #phonereError{
	top: 118px;
}
section .myform #pwdError{
	top: 169px;
}
section .myform #repwdError{
	top: 219px;
}
section .myform #emailError{
	top: 269px;
}
section .myform #picError{
	top: 316px;
}
section .myform #ale{
	position: absolute;
	left: 350px;
	top: 225px;
	display: none;
}
section .myform .doform form p img{
	margin-left: 5px;
	margin-bottom: 18px;
	display: none;
}
section .myform .doform form p input{
	width: 242px;
	height: 33px;
	border: 1px solid #ccc;
	line-height: 33px;
	color:#a9a9a9;
	font-size: 14px;
}
section .myform .doform #pic{
	width: 132px;
}
section .myform .doform form p{
	margin-left: 52px;
	line-height: 50px;
}
section .myform .doform form p:nth-child(5){
	margin-left: 38px;
}
section .myform .doform form p:nth-child(5) img:nth-child(3){
	width: 70px;
	height: 32px;
	margin-left: 36px;
	margin-bottom: 12px;
	display: inline-block;
}
section .myform .doform form p input{
	margin-left: 12px;

}
section .myform .doform form p input:focus{
	border: 1px solid #7ec08a;
}
section .myform .doform form p label{
	font-size: 14px;
	font-weight: bolder;
}
section .myform .doform form input[type=checkbox]{
	margin-left: 120px;
	margin-top: 20px;
}
section .myform .doform form button{
	width: 130px;
	height: 33px;
	background: #ff9000;
	color:#fff;
	font-size: 15px;
	margin-left: 120px;
	margin-top: 30px;
	cursor: pointer;
}
section .myform .right{
	width: 200px;
	height: 397px;
	border: 1px solid #ccc;
	position: absolute;
	right: 20px;
	bottom: 23px;
}
section .myform .right img{
	display: block;
	margin: 0 auto;
}
section .myform .right img:first-child{
	width: 153px;
	height: 150px;
	margin-top: 28px;
}
section .myform .right img:nth-child(2){
	width: 88px;
	height: 17px;
	margin-top: 30px;
}
section .myform .right img:last-child{
	height: 153px;
	width: 198px;
	margin-top: 19px;
}
footer{
	background: #fdfdfd;
}
footer .nav{
	width: 100%;
	max-width: 1920px;
	height: 30px;
	border-bottom: 1px solid #ccc;
	padding-top: 76px;
	overflow: hidden;
}
footer .txt{
	width: 100%;
	max-width: 1920px;
	height: 124px;
	overflow: hidden;
}
footer .txt p{
	width: 470px;
	height: 15px;
	margin: 23px auto;
}
footer .txt p span{
	color: #a9a9a9;
}
footer .nav ul li{
	width: 120px;
	height: 20px;
	float: left;
	text-align: center;
	line-height: 20px;
	border-left: 1px solid #ccc;
}
footer .nav ul li:first-child{
	border-left: 0px;
}
footer .nav ul{
	margin: 0 auto;
	width: 620px;
	height: 20px;
}
